<div class="container">
    <!-- Top-bar -->
    <div class="top-bar">
        <!-- More -->
        <button class="top-bar__more">
            <img
                src="../assets/icon/more.svg"
                alt=""
                class="top-bar__more-icon"
            />
        </button>

        <nav class="navbar">
            <ul class="navbar__list">
                <li>
                    <a href="" class="navbar__link">Home</a>
                </li>
                <li>
                    <a href="" class="navbar__link">About</a>
                </li>
                <li>
                    <a href="" class="navbar__link">Listings</a>
                </li>
                <li>
                    <a href="" class="navbar__link">Services</a>
                </li>
                <li>
                    <a href="" class="navbar__link">Blogs</a>
                </li>
            </ul>
        </nav>
        <!-- Logo -->
        <a href="./" class="logo">
            <div class="logo-bg">
                <img
                    src="./assets/icon/logo.svg"
                    alt="Rezilla"
                    class="logo__img"
                />
            </div>
            <h1 class="logo__title">Rezilla</h1>
        </a>

        <!-- More -->
        <button class="top-bar__more-moblie">
            <img
                src="../assets/icon/more.svg"
                alt=""
                class="top-bar__more-icon"
            />
        </button>

        <!-- Action -->
        <div class="top-act">
            <div class="top-act__group">
                <button class="top-act__btn">
                    <img
                        src="./assets/icon/avatar.svg"
                        alt=""
                        class="icon top-act__icon"
                    />
                    <a href="" class="top-act__form">Login/Register</a>
                </button>
                <button class="top-act__btn top-act__btn--single">
                    <img
                        src="./assets/icon/logo.svg"
                        alt=""
                        class="top-act__icon"
                    />
                    <a href="" class="top-act__form">Add Listing</a>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Hero -->
<section class="hero">
    <div class="container hero-container">
        <section class="hero__content">
            <a href="" class="hero__place">REAL ESTATE</a>
            <h1 class="hero__heading">Find a perfect home you love..!</h1>
            <p class="hero__desc">
                Etiam eget elementum elit. Aenean dignissim dapibus vestibulum.
                Integer a dolor eu sapien sodales vulputate ac in purus.
            </p>
            <img src="" alt="" class="hero__img" />
        </section>
        <section class="hero__form">
            <div class="hero__for">
                <h2 class="hero__for-price">For Sale</h2>
                <h2 class="hero__for-price">For Rent</h2>
            </div>
        </section>
    </div>
</section>
