@use "../abstracts";

.blog {
    margin-top: 180px;
    padding-top: 110px;
    padding-bottom: 100px;
    background: #3a0ca3;
    @include abstracts.screen(md) {
        margin-top: 100px;
    }

    &-content {
        text-align: center;
    }

    &-content__title {
        color: #ffffff;

        @include abstracts.screen(sm) {
            font-size: 1.6rem;
            line-height: 24px;
        }
    }

    &-content__heading {
        color: #ffffff;

        @include abstracts.screen(sm) {
            font-size: 2.76rem;
            line-height: 41.4px;
        }
    }

    &__list-item {
        display: flex;
        overflow: hidden;
        transition: transform 0.5s ease;
    }

    &-list {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 100%;

        flex-wrap: wrap;
        gap: 50px;
        @include abstracts.screen(sm) {
            gap: 40px;
        }
    }

    &-item {
        position: relative;
    }

    &-item__img {
        width: 340px;
        height: 240px;
        border-radius: 30px;
        object-fit: cover;
        @include abstracts.screen(sm) {
            width: 333px;
            height: 200px;
            border-radius: 20px;
            box-shadow: 10px 10px 30px 0px #00000033;
        }
    }

    &-item__date {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        top: 0px;
        left: 12%;
        width: 50px;
        height: 50px;
        padding: 10px;
        background: #ffffff;
        border-radius: 0px 0px 10px 10px;
    }

    &-item__day {
        font-weight: 500;
        font-size: 1.94rem;
        color: #2b2b2b;
        @include abstracts.screen(sm) {
            font-size: 1.6rem;
        }
    }

    &-item__month {
        font-weight: 400;
        font-size: 1.6rem;
        color: #808080;
        @include abstracts.screen(sm) {
            font-size: 1.33rem;
        }
    }

    &-item__title {
        margin-top: 30px;
        width: 340px;
        font-weight: 500;
        font-size: 2.76rem;
        line-height: 41.4px;
        color: #ffffff;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        @include abstracts.screen(sm) {
            width: 333px;
            margin-top: 20px;
            font-size: 1.94rem;
            line-height: 29.1px;
        }
    }

    &-item__desc {
        width: 340px;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 26px;
        color: #d4d4d4;
        @include abstracts.screen(sm) {
            margin-top: 20px;
            width: 333px;
            font-size: 1.33rem;
            line-height: 22px;
        }
    }

    &-item__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        float: right;
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 50%;
        transition: background 0.3s, border 0.3s;

        @include abstracts.screen(xl) {
            display: none;
        }
    }

    &-item__btn:hover {
        cursor: pointer;
        background: #3a0ca3;
        border-radius: 50%;
        border: 1px solid #fff;
    }

    &-item__btn:hover &-item__icon {
        filter: brightness(0) saturate(100%) invert(99%) sepia(0%)
            saturate(7498%) hue-rotate(181deg) brightness(112%) contrast(100%);
    }

    &-item__icon {
        filter: brightness(0) saturate(100%) invert(12%) sepia(54%)
            saturate(7490%) hue-rotate(260deg) brightness(73%) contrast(107%);
        pointer-events: none;
    }

    &-border__list {
        display: flex;
        justify-content: center;
        gap: 39px;
        margin-top: 70px;
    }

    &-border__item {
        width: 100px;
        border: 2px solid #fff;
        border-radius: 4px;
        opacity: 0.5;
        transition: background-color 0.3s ease;
    }

    // &-border__item:hover {
    //     cursor: pointer;
    //     opacity: 1;
    // }

    &-border__item.active {
        opacity: 1;
        background: #ffffff;
    }

    &-view__btn {
        margin: 60px auto 0;
        width: 300px;
        color: #3a0ca3;

        @include abstracts.screen(sm) {
            margin-top: 60px;
            width: 195px;
        }
    }

    &-view__btn:hover {
        background: #3a0ca3;
        color: #fff;
        border: 1px solid #fff;
    }
}
