@use "../abstracts";

.checkout {
    margin-top: 200px;
    overflow-x: hidden;
    scroll-behavior: smooth;

    &-content-title {
        @include abstracts.screen(sm) {
            font-size: 1.6rem;
            line-height: 24px;
        }
    }

    &-content__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include abstracts.screen(md) {
            display: grid;
        }
    }

    &-content__btn {
        display: flex;
        gap: 20px;

        @include abstracts.screen(md) {
            display: none;
        }
    }

    &__btn {
        width: 80px;
        border: 1px solid #3a0ca3;
        color: #3a0ca3;
        background: #ffffff;
    }

    &__btn:hover {
        color: #fff;
        background: #3a0ca3;
    }

    &-content-heading {
        @include abstracts.screen(md) {
            width: 100%;
        }

        @include abstracts.screen(sm) {
            font-size: 2.76rem;
            line-height: 41.4px;
        }
    }

    &-content__desc {
        width: 500px;
        @include abstracts.screen(md) {
            width: 100%;
        }

        @include abstracts.screen(sm) {
            font-size: 1.33rem;
            line-height: 22px;
        }
    }

    &-content__btn-mobile {
        display: none;
        @include abstracts.screen(md) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
        }
    }

    &-list {
        display: flex;
        gap: 50px;
        margin-top: 50px;
        overflow-x: auto;
        white-space: nowrap;
        cursor: grab;
        scroll-behavior: smooth;
        user-select: none;
        -webkit-user-drag: none;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        @include abstracts.screen(md) {
            display: grid;
            align-items: center;
            justify-content: center;
        }

        @include abstracts.screen(sm) {
            gap: 30px;
        }
    }

    &-list:active {
        cursor: grabbing;
    }

    &-item {
        position: relative;
        width: 340px;
        flex: 0 0 auto;
    }

    &-item:nth-child(2) &-item__btn {
        background: #d7eeff;
        color: #119bff;
    }

    &-item:nth-child(3) &-item__btn {
        background: #f1fff1;
        color: #00ce3a;
    }

    &-item__img {
        width: 340px;
        height: 340px;
        object-fit: cover;
        border-radius: 30px;

        @include abstracts.screen(sm) {
            width: 333px;
            height: 220px;
        }
    }

    &-item__btn {
        position: absolute;
        top: 260px;
        left: 30px;
        padding: 10px 24px 10px 24px;
        color: #ff1111;
        background: #ffe1e1;

        @include abstracts.screen(sm) {
            height: 40px;
            top: 160px;
            left: 30px;
        }
    }

    &-item__btn-label {
        margin-left: 10px;
        font-weight: 500;
        font-size: 1.6rem;
    }

    &-item__price {
        display: block;
        margin-top: 15px;
        font-weight: 600;
        font-size: 2.76rem;
        line-height: 41.4px;
        color: #2b2b2b;
        @include abstracts.screen(sm) {
            font-size: 1.94rem;
            line-height: 29.1px;
        }
    }

    &-item__title {
        margin-top: 5px;
        font-weight: 500;
        font-size: 1.94rem;
        line-height: 29.1px;
        color: #2b2b2b;

        @include abstracts.screen(sm) {
            font-size: 1.6rem;
            line-height: 24px;
        }
    }

    &-item__desc {
        margin-top: 5px;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 26px;
        color: #808080;

        @include abstracts.screen(sm) {
            font-size: 1.33rem;
            line-height: 22px;
        }
    }

    &-item__info {
        margin-top: 15px;
        display: flex;
        gap: 20px;
    }

    &-item__btn-icon {
        @include abstracts.screen(sm) {
            width: 22px;
            height: 18px;
        }
    }

    &-item__label {
        margin-left: -10px;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 26px;
        color: #2b2b2b;

        @include abstracts.screen(sm) {
            font-size: 1.33rem;
            line-height: 22px;
        }
    }

    &-view__more {
        display: none;
        margin: 60px auto;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 24px;
        background: transparent;
        border: 1px solid #3a0ca3;
        color: #3a0ca3;
        @include abstracts.screen(md) {
            display: flex;
        }
    }
}
