@use "../abstracts";

.introduce {
    margin-top: 105px;

    &-content {
        text-align: center;
    }

    &-content__title {
        @include abstracts.screen(sm) {
            font-size: 1.6rem;
            line-height: 24px;
        }
    }

    &-content__heading {
        @include abstracts.screen(sm) {
            font-size: 2.76rem;
            line-height: 41.4px;
        }
    }

    &-list {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 63px;
    }

    &-item__img {
        width: 220px;
        height: 280px;
        object-fit: cover;
        border-radius: 120px 40px 40px 40px;

        @include abstracts.screen(xl) {
            width: 260px;
            height: 300px;
        }
        @include abstracts.screen(md) {
            width: 180px;
            height: 260px;
        }
        @include abstracts.screen(sm) {
            width: 120px;
            height: 168px;
        }
    }

    &-item__name {
        text-align: center;
        margin-top: 20px;
        font-weight: 600;
        font-size: 2.76rem;
        line-height: 41.4px;
        color: #0b090a;

        @include abstracts.screen(sm) {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 24px;
        }
    }

    &-item__job {
        text-align: center;
        margin-top: 10px;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 24px;
        color: #4361ee;

        @include abstracts.screen(sm) {
            font-weight: 400;
            font-size: 1.33rem;
            line-height: 22px;
        }
    }
}
