@use "../abstracts";

.register {
    width: 1200px;
    margin: 250px auto 0px;
    background: #3a0ca3;
    border-radius: 40px;

    @include abstracts.screen(xl) {
        max-width: calc(100% - 80px);
    }
    @include abstracts.screen(md) {
        margin-top: 100px;
        max-width: calc(100% - 30px);
    }

    &__container {
        width: 1230px;
        max-width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
    }

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        height: 260px;
        z-index: 1;
        @include abstracts.screen(xl) {
            display: block;
            height: 600px;
            padding: 70px 30px 0px;
        }
    }

    &__img-avatar {
        position: absolute;
        bottom: 0%;
        left: 2%;
        object-fit: cover;

        @include abstracts.screen(xl) {
            left: 31%;
            margin: auto;
        }

        @include abstracts.screen(lg) {
            bottom: 0%;
            left: 30%;
        }

        @include abstracts.screen(md) {
            left: 25%;
        }

        @include abstracts.screen(sm) {
            width: 270px;
            height: 262px;
        }
    }

    &__img-decor {
        position: absolute;
    }

    &__img-decor-left {
        bottom: 15%;
        left: 23%;
        z-index: -1;

        @include abstracts.screen(xl) {
            bottom: 11%;
            left: 36%;
        }

        @include abstracts.screen(lg) {
            bottom: 10%;
            left: 33%;
        }
        @include abstracts.screen(md) {
            width: 40px;
            height: 40px;
            left: 35%;
            bottom: 18%;
        }
    }

    &__img-decor-right {
        top: -17%;
        left: 89%;
        z-index: -1;

        @include abstracts.screen(xl) {
            top: -5%;
            left: 85%;
        }

        @include abstracts.screen(lg) {
            width: 252px;
            height: 252px;
            top: -15%;
            left: 48%;
        }

        @include abstracts.screen(md) {
            left: 48%;
        }
        @include abstracts.screen(sm) {
            left: 33%;
        }
    }

    &__info-heading {
        color: #fff;
        @include abstracts.screen(sm) {
            font-size: 2.76rem;
            line-height: 41.4px;
        }
    }

    &__info-desc {
        color: #fff;
        @include abstracts.screen(xl) {
            margin-top: 10px;
        }
        @include abstracts.screen(sm) {
            font-size: 1.33rem;
            line-height: 22px;
        }
    }

    &__info {
        margin-left: 418px;
        width: 344px;
        @include abstracts.screen(xl) {
            margin: auto;
            padding-bottom: 40px;
        }

        @include abstracts.screen(sm) {
            width: 273px;
            margin-left: 0px;
        }
    }

    &__btn {
        margin-left: 85px;
        width: 165px;
        color: #3a0ca3;
        @include abstracts.screen(xl) {
            margin: auto;
        }

        @include abstracts.screen(sm) {
            margin-left: 0px;
        }
    }
}
