@use "../abstracts";

.social {
    margin-top: 68px;

    @include abstracts.screen(md) {
        order: 1;
    }
    &__desc {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        text-align: center;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 24px;
        color: #808080;
    }

    &__network-link {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 60px;
    }

    &__network {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        height: 90px;
        border-radius: 13px;
    }

    &__network:hover {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }

    &__network-decor {
        position: relative;
        top: -238px;
        left: 90px;

        @include abstracts.screen(md) {
            display: none;
        }
        @include abstracts.screen(lg) {
            top: -270px;
            left: 30px;
        }
    }
}

.inner {
    display: flex;
    flex-direction: column;
    width: 1170px;
    max-width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    @include abstracts.screen(xl) {
        width: 1010px;
    }

    @include abstracts.screen(md) {
        flex-direction: column;
    }
}
