@use "../abstracts";

.footer {
    margin-top: 180px;
    background: rgba(67, 97, 238, 0.1);
    padding-top: 86px;
    padding-bottom: 98px;

    @include abstracts.screen(sm) {
        margin-top: 100px;
        padding: 60px 30px 50px;
    }

    &__row {
        display: grid;
        grid-template-columns: auto auto auto auto;
        @include abstracts.screen(lg) {
            grid-template-columns: auto auto;
            justify-content: space-between;
        }
        @include abstracts.screen(md) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }

    &__col-first,
    &__col-second {
        @include abstracts.screen(lg) {
            text-align: center;
        }
    }

    &__address {
        margin-top: 32px;
        width: 188px;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 24px;
        color: #2b2b2b;
        @include abstracts.screen(lg) {
            justify-content: center;
        }
        @include abstracts.screen(sm) {
            font-size: 1.6rem;
            line-height: 24px;
            color: #808080;
        }
    }

    &__phone-info {
        margin-top: 48px;
        @include abstracts.screen(lg) {
            margin-top: 30px;
            justify-content: center;
        }
    }

    &__phone,
    &__email {
        margin-left: 8px;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 24px;
        color: #2b2b2b;
        @include abstracts.screen(sm) {
            font-size: 1.6rem;
            line-height: 24px;
            color: #808080;
        }
    }

    &__email-info {
        margin-top: 31px;
        @include abstracts.screen(lg) {
            margin-top: 20px;
        }
    }

    &__heading {
        font-weight: 500;
        font-size: 1.94rem;
        line-height: 29.1px;
        color: #0b090a;
        @include abstracts.screen(sm) {
            font-size: 1.6rem;
            line-height: 24px;
        }
    }

    &__heading-sub {
        width: 218px;
        @include abstracts.screen(lg) {
            margin: 40px auto 20px;
            justify-content: center;
        }
    }

    &__list {
        margin-top: 40px;
    }

    &__link {
        display: inline-block;
        padding: 4px 4px;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 26px;
    }

    &__link:hover {
        border-radius: 999px;
        background: rgba(67, 97, 238, 0.3019607843);
    }

    &__subscribe-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 350px;
        height: 60px;
        border-radius: 99px;
        margin-top: 21px;
        border: 2px solid #fff;
        background: #fff;
    }

    &__subscribe-form-input {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        border: none;
        outline: none;
        border-radius: inherit;
        font-size: 1.6rem;
        line-height: 26px;
        color: #aaaaaa;
    }

    &__subscribe-form__submit {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 5px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #3a0ca3;
        outline: none;
        border: none;
    }

    &__heading-social {
        margin-top: 32px;
    }

    &__social-list {
        display: flex;
        margin-top: 30px;
        column-gap: 20px;
        @include abstracts.screen(lg) {
            justify-content: center;
        }
        @include abstracts.screen(sm) {
            column-gap: 40px;
        }
    }

    &__social-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.footer__bottom {
    padding: 19px 0 20px;
    background: #0b090a;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-desc {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 26px;
        color: #aaaaaa;
        @include abstracts.screen(lg) {
            margin: auto;
        }
        @include abstracts.screen(sm) {
            font-size: 1.33rem;
            line-height: 22px;
        }
    }

    &-list {
        display: flex;
        column-gap: 40px;
        @include abstracts.screen(lg) {
            column-gap: 20px;
        }
    }

    &-link {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 26px;
        color: #d4d4d4;
    }
}
