*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --text-color: #2b2b2b;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(8%) saturate(6%)
        hue-rotate(336deg) brightness(101%) contrast(80%);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

a,
img,
button,
input,
textarea,
select {
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

.icon {
    filter: var(--icon-color);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 19px 30px;
    border-radius: 30px;

    background: #f8f8fb;

    font-size: 1.6rem;
    font-weight: 500;
    user-select: none;

    cursor: pointer;
}
