<div class="container">
    <div class="footer__row">
        <!-- Footer column 1 -->
        <div class="footer__col footer__col-first">
            <!-- Logo -->
            <a href="./" class="footer__logo logo">
                <div class="logo-bg">
                    <img
                        src="./assets/icon/logo.svg"
                        alt="Rezilla"
                        class="logo__img"
                    />
                </div>
                <h1 class="logo__title">Rezilla</h1>
            </a>
            <p class="footer__address">
                2728 Hickory StreetSalt Lake City, UT 84104
            </p>
            <div class="footer__phone-info">
                <img
                    src="./assets/icon/footer1.svg"
                    alt=""
                    class="footer__phone-icon"
                />
                <a href="tel:+12062142298" class="footer__phone">
                    +1 206-214-2298
                </a>
            </div>
            <div class="footer__email-info">
                <img
                    src="./assets/icon/footer2.svg"
                    alt=""
                    class="footer__email-icon"
                />
                <a href="mailto:support@rezilla.com" class="footer__email">
                    support@rezilla.com
                </a>
            </div>
        </div>
        <!-- Footer column 2 -->
        <div class="footer__col d-lg-none">
            <h3 class="footer__heading">Quick Links</h3>
            <ul class="footer__list">
                <li>
                    <a href="" class="footer__link">Home</a>
                </li>
                <li>
                    <a href="" class="footer__link">About</a>
                </li>
                <li>
                    <a href="" class="footer__link">Listings</a>
                </li>
                <li>
                    <a href="" class="footer__link">Services</a>
                </li>
                <li>
                    <a href="" class="footer__link">Blogs</a>
                </li>
                <li>
                    <a href="" class="footer__link">Become a Agent</a>
                </li>
            </ul>
        </div>
        <!-- Footer column 3 -->
        <div class="footer__col d-lg-none">
            <h3 class="footer__heading">Discovery</h3>
            <ul class="footer__list">
                <li>
                    <a href="" class="footer__link">Canada</a>
                </li>
                <li>
                    <a href="" class="footer__link">United States</a>
                </li>
                <li>
                    <a href="" class="footer__link">Germany</a>
                </li>
                <li>
                    <a href="" class="footer__link">Africa</a>
                </li>
                <li>
                    <a href="" class="footer__link">India</a>
                </li>
            </ul>
        </div>
        <!-- Footer column 4 -->
        <div class="footer__col footer__col-second">
            <h3 class="footer__heading footer__heading-sub">Subscribe to our Newsletter!</h3>
            <!-- Subscribe form -->
            <form action="" class="footer__subscribe-form">
                <input
                    type="email"
                    name=""
                    id=""
                    placeholder="Email Address"
                    class="footer__subscribe-form-input"
                />
                <button class="footer__subscribe-form__submit">
                    <img
                        src="./assets/icon/footer6.svg"
                        alt=""
                        class="footer__subscribe-form-icon"
                    />
                </button>
            </form>
            <!-- Social -->
            <h3 class="footer__heading footer__heading-social">Follow Us on</h3>
            <div class="footer__social-list">
                <a href="" class="footer__social-item">
                    <img
                        src="./assets/icon/footer3.svg"
                        alt=""
                        class="footer__social-item-icon"
                    />
                </a>
                <a href="" class="footer__social-item">
                    <img
                        src="./assets/icon/footer4.svg"
                        alt=""
                        class="footer__social-item-icon"
                    />
                </a>
                <a href="" class="footer__social-item">
                    <img
                        src="./assets/icon/footer5.svg"
                        alt=""
                        class="footer__social-item-icon"
                    />
                </a>
            </div>
        </div>
    </div>
</div>
